{% extends 'base.html.twig' %}
{% block body %}
<div style="margin-top: 50px;"class="jumbotron">
	<h1>Agence Tour DSI22</h1>
		<P class="text-primary">Bienvenue sur le site de votre ToursDSI22. Forte de son ambition de vous satisfaire, notre agence vous offre des circuits de reve dans les quatre coins du monde</P>
</div>
{% endblock %}
