{% extends 'base.html.twig' %}
{% block body %}
<div style="margin-top: 50px;"class="jumbotron">
	<h1>Agence Tour DSI22</h1>
		<P>Voici les destinations de reve que nous avons réservées.</P>
		<div class="d-flex justify-content-center">
		<div class="card mb-3" style="max-width: 20rem;margin: 5px;">
		  <h3 class="card-header">Nom du destination</h3>
		  <img style="height: 200px; width: 100%; display: block;" src="http://placehold.it/100x50" alt="Card image">
		  <div class="card-body">
		    <p class="card-text">Decription</p>
		  </div>
		</div>

		<div class="card mb-3" style="max-width: 20rem;margin: 5px;">
		  <h3 class="card-header">Nom du destination</h3>
		  <img style="height: 200px; width: 100%; display: block;" src="http://placehold.it/100x50" alt="Card image">
		  <div class="card-body">
		    <p class="card-text">Decription</p>
		  </div>
		</div>

		<div class="card mb-3" style="max-width: 20rem;margin: 5px;">
		  <h3 class="card-header">Nom du destination</h3>
		  <img style="height: 200px; width: 100%; display: block;" src="http://placehold.it/100x50" alt="Card image">
		  <div class="card-body">
		    <p class="card-text">Decription</p>
		  </div>
		</div>
	</div>
</div>
{% endblock %}
